<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.aiops.mapper.AlgorithmicPipelineModelsMapper">

    <resultMap id="APMList" type="com.zxy.aiops.entity.AlgorithmicPipelineModels">
        <result column="id" property="id" />
        <!-- 转换JSONObject-->
        <result column="apm_name"
                property="apmName"
        />
        <result column="create_author"
                property="createAuthor"
        />
        <result column="description"
                property="description"
        />
        <!-- 转换JSONArray-->
        <result column="node_list"
                property="nodeList"
                jdbcType="OTHER" javaType="com.alibaba.fastjson.JSONArray"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler" />
        <result column="node_name_list"
                property="nodeNameList"
                jdbcType="OTHER" javaType="com.alibaba.fastjson.JSONArray"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler" />
        <result column="rule_list"
                property="ruleList"
                jdbcType="OTHER" javaType="com.alibaba.fastjson.JSONArray"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler" />
        <result column="edge_list"
                property="edgeList"
                jdbcType="OTHER" javaType="com.alibaba.fastjson.JSONArray"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler" />
        <result column="apm_json"
                property="apmJson"
        />
    </resultMap>

    <resultMap id="APMJson" type="com.zxy.aiops.entity.AlgorithmicPipelineModels">
        <result column="id" property="id" />
        <!-- 转换JSONObject-->
        <result column="apm_name"
                property="apmName"
        />
        <result column="create_author"
                property="createAuthor"
        />
        <result column="description"
                property="description"
        />
        <result column="apm_json"
                property="apmJson"
        />
    </resultMap>

    <select id="getAPMList" resultMap="APMList">
        select * from algorithmic_pipeline_models
        <where>
            <if test="apmName != null and apmName != ''">
                algorithmic_pipeline_models.apm_name like concat('%', #{apmName} ,'%')
            </if>
        </where>
    </select>

    <select id="getAPMJson" resultMap="APMJson">
        select id,apm_name,create_author,description,apm_json from algorithmic_pipeline_models
        <where>
                algorithmic_pipeline_models.id = #{apmId}
        </where>
    </select>

</mapper>
